@import '~sass/mixins';

:host {
  padding-top: 20px;
}

.album-list-wrapper {
  @include center-container;
  padding-top: 20px;
}

.album-list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}
